<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>UnidadesServlet</servlet-name>
        <servlet-class>controller.UnidadesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProveedoresServlet</servlet-name>
        <servlet-class>controller.ProveedoresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiciosServlet</servlet-name>
        <servlet-class>controller.ServiciosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RolesServlet</servlet-name>
        <servlet-class>controller.RolesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NivelesServlet</servlet-name>
        <servlet-class>controller.NivelesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultoriosServlet</servlet-name>
        <servlet-class>controller.ConsultoriosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComprobantesServlet</servlet-name>
        <servlet-class>controller.ComprobantesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonasServlet</servlet-name>
        <servlet-class>controller.PersonasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatProductosServlet</servlet-name>
        <servlet-class>controller.CatProductosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatAnimalesServlet</servlet-name>
        <servlet-class>controller.CatAnimalesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RazasServlet</servlet-name>
        <servlet-class>controller.RazasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MascotaServlet</servlet-name>
        <servlet-class>controller.MascotaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpleadosServlet</servlet-name>
        <servlet-class>controller.EmpleadosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HorariosServlet</servlet-name>
        <servlet-class>controller.HorariosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventarioServlet</servlet-name>
        <servlet-class>controller.InventarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductosServlet</servlet-name>
        <servlet-class>controller.ProductosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TratamientosServlet</servlet-name>
        <servlet-class>controller.TratamientosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuariosServlet</servlet-name>
        <servlet-class>controller.UsuariosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UnidadesServlet</servlet-name>
        <url-pattern>/unidades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProveedoresServlet</servlet-name>
        <url-pattern>/proveedores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiciosServlet</servlet-name>
        <url-pattern>/servicios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RolesServlet</servlet-name>
        <url-pattern>/roles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NivelesServlet</servlet-name>
        <url-pattern>/niveles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultoriosServlet</servlet-name>
        <url-pattern>/consultorios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComprobantesServlet</servlet-name>
        <url-pattern>/comprobantes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonasServlet</servlet-name>
        <url-pattern>/personas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatProductosServlet</servlet-name>
        <url-pattern>/catproductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatAnimalesServlet</servlet-name>
        <url-pattern>/catanimales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RazasServlet</servlet-name>
        <url-pattern>/razas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MascotaServlet</servlet-name>
        <url-pattern>/mascota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpleadosServlet</servlet-name>
        <url-pattern>/empleados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HorariosServlet</servlet-name>
        <url-pattern>/horarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventarioServlet</servlet-name>
        <url-pattern>/inventario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductosServlet</servlet-name>
        <url-pattern>/productos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TratamientosServlet</servlet-name>
        <url-pattern>/tratamientos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuariosServlet</servlet-name>
        <url-pattern>/usuarios</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
